* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: none;
}

/* SİDEBAR */

.container-lg {
  background-color: #fff;
  width: 1300px;
}

.twitter_icon {
  width: 35px;
  height: 30px;
  position: relative;
  top: 15px;
  left: 30px;
  background: #0095d6;
}

.col-3 {
  display: inline-block;
  position: relative;
}


.sideBarList_ {
  list-style: none;
  max-height: 100vh;

}




.sideBarList_ a {
  display: inline-block;
  color: #000;
  list-style: none;
  text-decoration: none;
  transition:0.5s;
  margin: 10px;
  position: relative;
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  top: 45px;
  right: 10px;
  outline: none;
  height: 40px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.sideBarList_ a:hover {
  color: #000;
  background-color: #e6ecf0;
  border-radius: 30px;
  
 
 

}

.button {
  position: relative;
  top: 30px;
  left: 27px;
  width: 210px;
  height: 50px;
  border-radius: 30px;
  color: #fff;
  background: #0095d6;
  border: none;
  font-size: 17px;
}

.sidebar .fa-solid {
  margin-right: 20px;
  color: #383838;
}
/* SİDEBAR END */


/* feed */

.feed{
  border-left: 1px solid #e6ecf0;
  border-right: 1px solid #e6ecf0;
  height: 100vh;
  overflow-y: scroll;
}

  .feed::-webkit-scrollbar {
    display: none;
  }


.home{
  position: fixed;
  font-size:25px;
  font-weight: 600;
  padding: 0 10px;
  height: 50px;
  width:33.4%;
  border-bottom: 1px solid #e6ecf0;

}


.tweet-card{

  border-bottom: 1px solid #e6ecf0 ;
  margin-top: 50px;
}
picture img {
 width: 100px;
 height: 100px;
  border-radius: 50%;
  object-fit: cover;
  padding: 20px;
 
}

.tweet-card input{
  border: none;

  font-weight: 500;
  
}


.tweet_card1_icon ul {
display: flex;
margin-left: 50px;


}

.icons {
  list-style: none;
  padding:10px ;
  font-size:10px;

}
svg{
  font-size:small;
}

.button2 {
  position: relative;
  left: 205px;
  top: 10px;
  width: 90px;
  height: 30px;
  border-radius: 30px;
  color: #fff;
  background: #0095d6;
  border: none;
  font-size: 15px;
}

